<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.collagemedia.kotlinexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/name_list" />
        <activity
            android:name=".GridViewActivity"
            android:label="@string/name_grid" />
        <activity
            android:name=".ViewPagerActivity"
            android:label="@string/name_viewPager" />
        <activity
            android:name=".DataSQLiteActivity"
            android:label="@string/name_sqlite" />
        <activity
            android:name=".AnkoLayoutActivity"
            android:label="@string/name_anko_layout" />
        <activity
            android:name=".ConstrainLayoutActivity"
            android:label="@string/name_constrain_layout" />
        <activity
            android:name=".activity.RecyclerAndCardViewActivity"
            android:label="@string/recycler_cardview"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>